<nz-card style="display: flex; flex-wrap: wrap;">

    
    <button nz-button nzType="primary" (click)="openComponent()">Add Student </button>

    <div nz-row>
        <div *ngFor="let std of getObject; index as i" class="card" nz-col nzSpan="8">
            
            <br>
            <h2>Roll No: {{std.studentId}}</h2>
            <nz-card style="margin:0px; border-color: skyblue; margin-right: 250px; width: 250px;" class="nzCard">
                <span>
                    <p><strong>Name:</strong> {{std.studentName}}</p>
                    <p><strong>Email:</strong>{{std.email}}</p>
                    <p><strong>Gender:</strong>{{std.gender}}</p>
                    <p><strong>Phone:</strong>{{std.phone}}</p>
                </span>
                <button nz-button nzType="primary" style="float: right;" (click)="EditStd(std)">Edit</button>
            <button nz-button nzType="primary" nzDanger (click)="DeleteStudent(std)">Delete</button>
            </nz-card>  
        </div>    
    </div>
</nz-card>



  