<nz-card>
    <button nz-button nzType="primary" (click)="openComponent()">Add Student </button>
<br>
<br>
<button nz-button nzType="primary" (click)="GetStudent()">Get Student </button>

<ul>
    <div *ngFor="let std of getObject; index as i">
        <nz-card>
            <span>
                <p><strong>Name:</strong> {{std.studentName}}</p>
                <p><strong>Email:</strong>{{std.email}}</p>
                <p><strong>Gender:</strong>{{std.gender}}</p>
                <p><strong>Phone:</strong>{{std.phone}}</p>
                </span>
        </nz-card>
        <button nz-button nzType="primary" style="float: right;" (click)="EditStd(std)">Edit</button>
        <button nz-button nzType="primary" nzDanger (click)="DeleteStudent(std)">Delete</button>
        
        
    </div>    
</ul>
</nz-card>



  