<nz-card style="display: flex; flex-wrap: wrap;">
    <button nz-button nzType="primary" (click)="openComponent()">Add Teacher </button>
            <div nz-row>
                <div *ngFor="let Tch of allTeacher; index as i" class="card" nz-col nzSpan="8">
                    <nz-card style="margin:0px; margin-right: 250px; width: 250px;" class="nzCard">
                        <span>
                            <p><strong>Name:</strong> {{Tch.teacherName}}</p>
                            <p><strong>Email:</strong> {{Tch.email}}</p>
                            <p><strong>Gender:</strong> {{Tch.gender}}</p>
                            <p><strong>Phone:</strong>{{Tch.phone}}</p>
                        </span>
                        <button nz-button nzType="primary" style="float: right;" (click)="EditTch(Tch)">Edit</button>
                    <button nz-button nzType="primary" nzDanger (click)="DeleteTeacher(Tch)">Delete</button>

                    </nz-card>
                </div>
            </div>
</nz-card>



<!-- style="margin: 10px; display: flex; flex-direction: column; align-items: center;" -->