<button nz-button nzType="primary" (click)="openComponent()">Add Teacher </button>

<nz-table style="width: 100%;" [nzData]= "allTeacher">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Gender</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let Tch of allTeacher">
        <td >{{Tch.teacherName}}</td>
        <td >{{Tch.email}}</td>
        <td >{{Tch.gender}}</td>
        <td>{{Tch.phone}}</td>
        <td>
            <button nz-button nzType="primary" style="float: right;" (click)="EditTch(Tch)">Edit</button>
            <button nz-button nzType="primary" nzDanger (click)="DeleteTeacher(Tch)">Delete</button>
        </td>
      </tr>
    </tbody>
  </nz-table>